{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log New Workout{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="duration">Duration (minutes)</label>
    <input type="number" name="duration" id="duration" value="{{ request.form['duration'] }}" required>

    <label for="distance">Distance (kilometers)</label>
    <input type="number" step="0.01" name="distance" id="distance" value="{{ request.form['distance'] }}" required>

    <label for="route_nickname">Route Nickname</label>
    <input type="text" name="route_nickname" id="route_nickname" value="{{ request.form['route_nickname'] }}">

    <label for="average_heart_rate">Average Heart Rate</label>
    <input type="number" name="average_heart_rate" id="average_heart_rate" value="{{ request.form['average_heart_rate'] }}">

    <label for="max_heart_rate">Max Heart Rate</label>
    <input type="number" name="max_heart_rate" id="max_heart_rate" value="{{ request.form['max_heart_rate'] }}">

    <input type="submit" value="Save Workout">
  </form>
{% endblock %}